.homepage{
	background-image:url("../newImages/backgroundImg.png");
	background-size:100% 100%;
}
.top-number{
	text-align:right;
	line-height:22px;
	color: #575656;
}
input.search-form{
	width: 67px;
}
.header-navbar{	
	background-image:url("../newImages/navbar_strip.png");
	border-bottom: 5px solid #c52d2f;
}
.searchStyle{
	float:right;
	height: 25px;
	width: 25px;
	background: -webkit-linear-gradient(red, #c52d2f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, #c52d2f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, #c52d2f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, #c52d2f); /* Standard syntax (must be last) */
	text-align: center;
}
.kRADbLogo img {
	width:194px;
}
.socialMediaHeader {
	margin-top: 10px;
	line-height:25px;
}
@media (max-width: 768px){
	.kRADbLogo{
		padding-right:0;
		padding-left:0;
		margin-left:15px;
		width:194px;
	}
	.socialMediaHeader{
		padding-left:0;
		padding-right:0;
		margin-right:15px;
		float:right;
	}
	.socialMediaHeader .col-xs-12{
		padding-left:0;
		padding-right:0;
	}
}
@media (max-width: 465px){
	.kRADbLogo{
		width:100%;
	}
	.socialMediaHeader{
		width:100%;
		margin-top: 0;
	}
}

#navigation{
	height: 40px;	
}
#navigation ul{
	list-style: none;
}
#topnav{
	list-style: none;
	height: 39px;
	width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
	padding-left: 0;
}
#topnav .head{
	font-family: 'Open Sans', sans-serif;'
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}
.listBtn {
	line-height: normal;
	font-size: 18px;
	float: right;
	margin-top: 1px;
}
.animenu__nav__child {
	position: absolute;
	z-index: 1;
	right:0px;
	margin: 44px 0 0 0;
	background-color: #191919;
	padding:0;
}
.animenu__nav__child li{
	min-width:130px;
	max-width:130px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-variant: normal;
	text-shadow: rgb(255, 255, 255) 0px 0px 3px;
	color: #FFFFFF;
	display: block;
	line-height: 40px;
	padding: 0 22px;
	border-bottom: 1px solid #515151;
	display:none;
}
.animenu__nav__child > li:first-child > a:after {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	left: 105px;
	top: -6px;
	border: 6px solid transparent;
	border-top: 0;
	border-bottom-color: inherit;
	color:#c52d2f;
}
.animenu__nav__child li a{
	color:#fff;
}
.animenu__nav__child > li:last-child {
	border: 0;
}
.animenu__nav__child li.selected, .animenu__nav__child li:hover {
	background: #c52d2f;
	background: -webkit-linear-gradient(red, #c52d2f);
	background: -o-linear-gradient(red, #c52d2f);
	background: -moz-linear-gradient(red, #c52d2f);
	background: linear-gradient(red, #c52d2f);
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
}
/*.animenu__nav__child li.selected a {
	color: #000;
	text-shadow: rgb(0, 0, 0) 0px 0px 3px;
}*/
#secondMenu{
	float: right;
	margin-top: -39px;
	padding-left: 0;
	margin-bottom: 0px;
	display:none;
}
#secondMenu.active .btn-default:hover, #secondMenu.active .btn-default:focus, #secondMenu.active .btn-default:active, #secondMenu.active .btn-default{
	color: #fff;
	/*background-color: #c52d2f;*/
	border-color: #c52d2f;
	background: -webkit-linear-gradient(red, #c52d2f);
	background: -o-linear-gradient(red, #c52d2f);
	background: -moz-linear-gradient(red, #c52d2f);
	background: linear-gradient(red, #c52d2f);
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
}
@media (max-width: 1200px){
	ul#topnav{
		margin-left:0;
	}
	ul#topnav li:nth-child(7), ul#topnav li:nth-child(8), ul#topnav li:nth-child(9){
		display:none;
	}
	#secondMenu.active .animenu__nav__child li:first-child, #secondMenu.active .animenu__nav__child li:nth-child(5), #secondMenu.active .animenu__nav__child li:nth-child(6), #secondMenu.active .animenu__nav__child li:nth-child(7){
		display:block;
	}
	#secondMenu {
		display:block;
	}
}
@media (max-width: 725px){
	ul#topnav li:nth-child(6){
		display:none;
	}
	#secondMenu.active .animenu__nav__child li:nth-child(4) {
		display:block;
	}
}
#headerLogo.hideLogo{
	visibility:visible;
}
#menuBtn{
	display:none;
	position: absolute;
	bottom: 5px;
	left: 10px;
}
#menuBtn.selected {
	background: #c52d2f;
	border-color: #c52d2f;
	background: -webkit-linear-gradient(red, #c52d2f);
	background: -o-linear-gradient(red, #c52d2f);
	background: -moz-linear-gradient(red, #c52d2f);
	background: linear-gradient(red, #c52d2f);
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
	color:#fff;
}
.menuItems {
	position: absolute;
	margin: 0;
	padding: 0;
	width:100%;
	top:141px;
	z-index: 999;
	/*border-top: 1px solid #515151;*/
	display:none;
}
.menuItems.showMenu{
	display:none;
}
/*.menuItems li:first-child{
	border-bottom: 0;
}*/
.menuItems li{
	padding-left:10px;
	background-color: #191919;
	border-bottom: 1px solid #515151;
}   
.menuItems li a{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-variant: normal;
	text-shadow: rgb(255, 255, 255) 0px 0px 3px;
	color: #FFFFFF;
	display: block;
	line-height: 34px;
}
.menuItems > li:first-child > a:after {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	left: 20px;
	top: -6px;
	border: 6px solid transparent;
	border-top: 0;
	border-bottom-color: inherit;
}
.menuItems li:hover,.menuItems li.active{
	color: #fff;
	/*background-color: #c52d2f;*/
	border-color: #515151;
	background: -webkit-linear-gradient(red, #c52d2f);
	background: -o-linear-gradient(red, #c52d2f);
	background: -moz-linear-gradient(red, #c52d2f);
	background: linear-gradient(red, #c52d2f);
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
}
@media (max-width: 635px){
	ul#topnav li:nth-child(5){
		display:none;
	}
	#secondMenu.active .animenu__nav__child li:nth-child(3) {
		display:block;
	}
}
@media (max-width: 535px){
	ul#topnav li:nth-child(4){
		display:none;
	}
	#secondMenu.active .animenu__nav__child li:nth-child(2) {
		display:block;
	}
	
}
@media (max-width: 465px){
	#main-slider {
		margin-top: 181px !important;
	}
}
@media (max-width: 400px){
	#navigation {
		display:none;
	}
	.kRADbLogo {
		margin-left: 10px;
	}
	.socialMediaHeader  {
		margin-right: 10px;
	}
	#menuBtn{
		display:block;
	}
	#main-slider {
		margin-top: 141px !important;
	}
	.menuItems.showMenu{
		display:block;
		list-style-type:none;
	}
	.btn{
		padding: 4px 10px;
	}
	#headerLogo.hideLogo{
		visibility:hidden;
	}
}
.bottom-bar ul{
	margin:0px;
	padding: 0;
}
#topnav li{
	position: relative;
	float: left;
	background: url(../newImages/menu-line.png) no-repeat left top;
	z-index: 10;
	margin-left: 1px;
}
#topnav li a{
	color: #FFFFFF;
	display: block;
	line-height: 40px;
	padding: 0 22px;
}
a {
	text-decoration: none;
}
#topnav li a.SelectedTab, #topnav li a:hover, #topnav li a:focus{
    background:#c52d2f;
	background: -webkit-linear-gradient(red, #c52d2f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, #c52d2f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, #c52d2f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, #c52d2f); /* Standard syntax (must be last) */
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
}


#main-slider {
	margin-top: 109px;
}
#main-slider .active .progress_bar{
	height:4px;
	width:100%;
	position:absolute;
	bottom:0;
	line-height: 0;
}
#main-slider .active .progress_bar.shine span {
	position: relative;
	line-height: 0;
}
#main-slider .active .progress_bar.orange span {
	background-color: #c52d2f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c52d2f), to(#FF0003));
	background-image: -webkit-linear-gradient(top, #c52d2f, #FF0003);
	background-image: -moz-linear-gradient(top, #c52d2f, #FF0003);
	background-image: -ms-linear-gradient(top, #c52d2f, #FF0003);
	background-image: -o-linear-gradient(top, #c52d2f, #FF0003);
	background-image: linear-gradient(top, #c52d2f, #FF0003);
}
#main-slider .active .progress_bar span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#main-slider .active .progress_bar.shine span::after {
	content: '';
	opacity: .7;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	animation: animate_shine 3s ease-out infinite;
	-webkit-animation: animate_shine 3s ease-out infinite;
	-moz-animation: animate_shine 3s ease-out infinite;
}
@keyframes animate_shine {
    0% {width: 0;}
    100% {width: 100%;}
}
@-webkit-keyframes animate_shine { 
	0% {width: 0;}
    100% {width: 100%;}
}
@-moz-keyframes animate_shine {
	0% {width: 0;}
    100% {width: 100%;}
}
/* ------------- Login start -------- */
ul.loginWrapper {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: right;
	background: #eee;
	/*border-bottom: 1px solid #fff;*/
	border-radius: 3px; 
	margin-left: 5px; 
	margin-bottom: 3px;
	font-size: 12px;
	line-height: 18px; 
}
ul.loginWrapper li {
	float: left; 
}
ul.loginWrapper #login-trigger{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 22px;
  line-height: 22px;
  font-weight: bold;
  padding: 0 5px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff; 
}
ul.loginWrapper #login-trigger {
  border-radius: 3px;
}
ul.loginWrapper #login-trigger:hover,
ul.loginWrapper #login .active,
ul.loginWrapper #signup a:hover {
  background: #fff;
}
ul.loginWrapper #login-content {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 9999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 10px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}
ul.loginWrapper li #login-content {
  right: 0;
  width: 225px;  
}
#inputs input {
  background: #f1f1f1;
  padding: 3px 5px;
  margin: 0 0 5px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}
#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}
#login #actions {
  margin: 5px 0 0 0;
  text-align:center;
  font-weight: bold;
}
#login #submit {    
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 27px;
  padding: 0;
  width: 65px;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
}
#login #submit:hover,
#login #submit:focus {    
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
} 
#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}
#login #submit::-moz-focus-inner {
  border: none;
}
#login label {
  float: right;
  line-height: 27px;
  color: #444;
  margin-bottom: 0;
}
#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}
.form{
  padding-top: 20px;
  background:white;   
  padding-bottom: 20px;
  margin-top: 225px;
  width:60%;
  margin-left: 125px;  
}
.with{
    width:65%;
    }
/* ------------- Login end -------- */
/* ------------- Arvind yadav start -------- */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: 0;
  color: #fff;
  background: #1f1f20;
  position: relative;
}
.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right: 0;
  padding: 13px 15px;
}

.tab-content>.active {
  display: block;
}

#WorkwithusSection{
   background-image: url("../images/skin1.stripes-stripe-3-bg-image.jpg");
   padding-top: 40px;
   padding-bottom: 40px;
}

#WorkwithusSection p{
    color:#6e7a91;
}
#WorkwithusSection img {
      float: left;
      margin-top:5px;
      border-radius: 5px;
}
#WorkwithusSection  .text_wrap{
     margin-left: 40px;
}
#WorkwithusSection  .text_col{
    margin-bottom:20px
}
#text_col {
  font-size: 13px;
  padding:20px 0px;
  background: #404041 url(../newImages/stripe-opacity26.png);
  color: #f6f6f6;
}
#text_col .text_wrap{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  color: #ababab;
}
#text_col a
{
 color:#f6f6f6;
}
#text_col a:hover
{ 
 color:Black;
}
#text_col ul {
  padding: 0;
  margin: 0;
  font-size: 17px;
}
#text_col li {
  display: block;
  margin-bottom:5px;
}
#footer {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background: #2e2e2e;
  border-top: 5px solid #c52d2f;
  text-align:center;
}	
/* ------------- Avee yadav start -------- */
.kRADbLogo img {
	width:194px;
}

@media (max-width: 768px){
	.kRADbLogo{
		padding-right:0;
		padding-left:0;
		margin-left:15px;
		width:194px;
	}
}
@media (max-width: 465px){
	.kRADbLogo{
		width:100%;
	}
}

#navigation2{
     margin-top: 71px; 
}
#navigation2 ul{
	list-style: none;
}
#topnav2{
	list-style: none;
	height: 30px;
    margin-top: -40px;
    margin-left: 350px;
  
	padding-left: 0;
}
#topnav2 .head{
	font-family: 'Open Sans', sans-serif;'
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}
.listBtn1 {
	line-height: normal;
	font-size: 18px;
	float: right;
	margin-top: 1px;
	margin-right: 10px;
}
.animenu__nav__child {
	position: absolute;
	z-index: 1;
	right:0px;
	margin: 44px 0 0 0;
	background-color: #191919;
	padding:0;
}
.animenu__nav__child li{
	min-width:130px;
	max-width:130px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-variant: normal;
	text-shadow: rgb(255, 255, 255) 0px 0px 3px;
	color: #FFFFFF;
	display: block;
	line-height: 40px;
	padding: 0 22px;
	border-bottom: 1px solid #515151;
	display:none;
}
.animenu__nav__child > li:first-child > a:after {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	left: 95px;
	top: -6px;
	border: 6px solid transparent;
	border-top: 0;
	border-bottom-color: inherit;
	color:#c52d2f;
}
.animenu__nav__child li a{
	color:#fff;
}
.animenu__nav__child > li:last-child {
	border: 0;
}
.animenu__nav__child li.selected, .animenu__nav__child li:hover {
	background: #c52d2f;
	background: -webkit-linear-gradient(red, #c52d2f);
	background: -o-linear-gradient(red, #c52d2f);
	background: -moz-linear-gradient(red, #c52d2f);
	background: linear-gradient(red, #c52d2f);
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
}
/*.animenu__nav__child li.selected a {
	color: #000;
	text-shadow: rgb(0, 0, 0) 0px 0px 3px;
}*/
#secondMenu2{
	float: right;
	margin-top: -39px;
	padding-left: 0;
	margin-bottom: 0px;
	display:none;
}
#secondMenu2.active .btn-default:hover, #secondMenu2.active .btn-default:focus, #secondMenu2.active .btn-default:active, #secondMenu2.active .btn-default{
	color: #fff;
	/*background-color: #c52d2f;*/
	border-color: #c52d2f;
	background: -webkit-linear-gradient(red, #c52d2f);
	background: -o-linear-gradient(red, #c52d2f);
	background: -moz-linear-gradient(red, #c52d2f);
	background: linear-gradient(red, #c52d2f);
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
}
@media (max-width: 1315px){
	ul#topnav2{
	}
	ul#topnav2 li:nth-child(7), ul#topnav2 li:nth-child(8), ul#topnav2 li:nth-child(9){
		display:none;
	}
#secondMenu2.active .animenu__nav__child li:first-child, #secondMenu2.active .animenu__nav__child li:nth-child(5), #secondMenu2.active .animenu__nav__child li:nth-child(6), #secondMenu2.active .animenu__nav__child li:nth-child(7){
		display:block;
	}
	#secondMenu2 {
		display:block;
	}
}
@media (max-width: 1045px){
	ul#topnav2 li:nth-child(6),ul#topnav2 li:nth-child(5){
		display:none;
	}
	#secondMenu2.active .animenu__nav__child li:nth-child(3), #secondMenu2.active .animenu__nav__child li:nth-child(4) {
		display:block;
	}
}
#headerLogo2 .hideLogo{
	visibility:visible;
}
#menuBtn2{
	display:none;
	position: absolute;
	bottom: 5px;
	right: 10px;
}
#menuBtn2.selected {
	background: #c52d2f;
	border-color: #c52d2f;
	background: -webkit-linear-gradient(red, #c52d2f);
	background: -o-linear-gradient(red, #c52d2f);
	background: -moz-linear-gradient(red, #c52d2f);
	background: linear-gradient(red, #c52d2f);
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
	color:#fff;
}
.menuItems2 {
	position: absolute;
	margin: 0;
	padding: 0;
	width:100%;
	top:80px;
	z-index: 999;
	/*border-top: 1px solid #515151;*/
	display:none;
}
.menuItems2.showMenu{
	display:none;
}
.menuItems2 li{
	padding-left:10px;
	background-color: #191919;
	border-bottom: 1px solid #515151;
}   
.menuItems2 li a{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-variant: normal;
	text-shadow: rgb(255, 255, 255) 0px 0px 3px;
	color: #FFFFFF;
	display: block;
	line-height: 34px;
}
.menuItems2 > li:first-child > a:after {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	right: 40px;
	top: -6px;
	border: 6px solid transparent;
	border-top: 0;
	border-bottom-color: inherit;
}
.menuItems2 li:hover,.menuItems li.active{
	color: #fff;
	border-color: #515151;
	background: -webkit-linear-gradient(red, #c52d2f);
	background: -o-linear-gradient(red, #c52d2f);
	background: -moz-linear-gradient(red, #c52d2f);
	background: linear-gradient(red, #c52d2f);
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
}
@media (max-width: 855px){
	ul#topnav2 li:nth-child(4){
		display:none;
	}
	#secondMenu2.active .animenu__nav__child li:nth-child(2) {
		display:block;
	}
	
}
@media (max-width: 725px){
	#navigation2 {
		display:none;
		height:50px;
	}
	.kRADbLogo {
		margin-left: 10px;
	}
	#menuBtn2 {
		display:block;
	}
	.menuItems2.showMenu{
		display:block;
		list-style-type:none;
		margin-top: -5px;
	}
	
	#headerLogo.hideLogo{
		visibility:hidden;
	}
}
.bottom-bar ul{
	margin:0px;
	padding: 0;
}
#topnav2 li{
	position: relative;
	float: left;
	background: url(../newImages/menu-line.png) no-repeat left top;
	z-index: 10;
	margin-left: 1px;
}
#topnav2 li a{
	color: #FFFFFF;
	display: block;
	line-height: 40px;
	padding: 0 22px;
}
a {
	text-decoration: none;
}
#topnav2 li a.SelectedTab, #topnav2 li a:hover, #topnav2 li a:focus{
    background:#c52d2f;
	background: -webkit-linear-gradient(red, #c52d2f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, #c52d2f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, #c52d2f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, #c52d2f); /* Standard syntax (must be last) */
	text-shadow: rgb(46, 46, 46) 0px 4px 5px;
}
#toTop{
	position: fixed;
	bottom: 53px;
	right: 6px;
	cursor: pointer;
	display: none;
	border-radius: 50%;
}
#toTop .fa {margin-right: 5px;}
.btn-info {
  color: #fff;
  background-color: #e94c3c;
  border-color: #ffffff;
}
.btn-info:hover {
  color: #fff;
  background-color: #e94c3c;
  border-color: rgb(249, 134, 134);
}
.service-item .col-md-4
{padding:0px 10px;
    }
    
    
    
.tech_banner
{  
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  background-image: url('../images/Plain-Wallpaper-Images.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 130px;
  height: 160px;
  color:White;
}
.tech_bannerSub
{
    margin-top: 15px; 
    font-size: 15px; 
    line-height: 18px;
}

.font700 {
  font-size: 16px;
  font-weight: 700;
}
.mkblk {
  color: #707070;
  line-height: 25px;
}
.font {
  font-size: 16px;
}
.red {
  color: #b9212c;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}
.blue {
  color: #003263;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}
.orange {
  font-weight: 700;
  color: #F47B06;
  font-size: 16px;
  line-height: 25px;
}
.lamp {
  width: 175px!important;
}
.tech-binder {
  padding-left: 10px;
  padding-top: 10px;
}
#technologies
{
  padding:15px 0px;
}
.fonti {
  font-size: 14px;
  font-style: italic;
}
.readmore-btn
 {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  margin-top: 35px;
  display: inline-block;
}
.large-text-heading
{
  font-size: 30px;
    margin: 30px 0px 15px;
  line-height: 30px;
  margin-left: 12px;
}

.responsive-technologies img
{
 height:60px;
 width:120px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
.suppot-navbar
{
 margin: 20px;
}
.carousel-control.left, .carousel-control.right
{
 background-image:none !important
}
#portfolio img
{
 border-radius:5px; margin:10px 0px;
}
.kradbVision-Div
{
 margin-top:10px; 
 background:#FAFAFA; 
 color: #4f84b1; 
 padding:22px 40px; 
 font-size:25px; 
 text-align:center; 
 line-height:25px; 
 border:1px solid #DEDEE2; 
 border-radius:5px;   
}
.kradbVision-Sub
{
 color:#9e9c9e; 
 font-style:italic; 
 font-size:20px;   
}
.large-blue
{
font-size:25px; 
color:#5c90d3; 
margin-bottom:10px; 
line-height:25px; 
font-weight:bold;
}
#Support .media-body p
{
color:Black;
}
.largeTxt-strip
{
  background: #f2f2f2 url(../newImages/h1-gray-bg.gif) repeat-x bottom;
  padding: 10px 10px 20px;
  font-size: 22px;
  line-height: 22px;
  width: 100%;
}
.button-hiring {
  border: 1px solid #4fbcb4;
  border-width: 1px 0;
  border-top-color: rgba(255,255,255,0.45);
  cursor: pointer;
  font-family: Lato,Calibri,Verdana,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 20px;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #74cac4;
  color: #fff;
  cursor:pointer;
}
.button-2 {
  color: #4fbcb4;
  background-color: #404041;
  border-width: 1px;
  border-top-color: #4fbcb4;
}
.Register_with_us{
    font-weight: bold;
    text-align:center;
}
.form{
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  position: absolute;
   top: 240px;
}
.close_btn{
  margin-left: 260px;
  font-size: 25px;
  font-weight: bold;
  float: none;
  color: #000;
}
#registrationModal .form-field{
  border-style: none none solid none;
  border-width: 1px;
  border-color: #a9a7a9;
  background: none;
  font-size: 15px;
  line-height: 16px;
  width: 100%;
  margin-top: 35px;
  outline: none;
  color: black;
}
#registrationModal .modal-body
{
 padding:0px 40px;
}
#services .media.services-wrap 
{ 
  cursor:pointer;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}